IMPORTING IMPORTANT LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importing dataset from downloaded zip file

In [ ]:

import zipfile

with zipfile.ZipFile('/content/resto.zip', 'r') as z:
    z.extract('zomato.csv', '/content/')

In [ ]:
df = pd.read_csv('/content/zomato.csv', encoding='latin1')

In [ ]:
df.shape

In [ ]:
# Show entire dataframe without truncation
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

 # or df.head(200) if dataset is too big

Manual assesing

Issues

In [ ]:
# Restaurant Name
# Same brand by two names Giani and Giani's # consistency
# contains both Pizza Hut and Pizza Hut Delivery
# KFC should be Kfc
# incorrect naming {Niche} - Cafe & Bar # validity
# Oh! Calcutta and 6 Ballygunge Place are valid names

# Address-we can remove it
# Locality Verbose-no use we can drop it
# we can drop Longitude and Latitude

# cuisines:
# North Indian, Chinese and Chinese, North Indian are same # consistency

# currency:
# we have to remove symbols  # accuracy
# NewZealand($) has to be written properly

# switch to order menu
# it has all no values so can be dropped

# columns rating text and rating color are of no use so we can drop them

# cuisines have null values

In [ ]:
df['Restaurant Name'].value_counts().sample(10)

In [ ]:
df['City'].value_counts().sample(10)

In [ ]:
# Address-we can remove it

In [ ]:
df['Address'].value_counts().head(15)

In [ ]:
# Locality

In [ ]:
df['Locality'].value_counts().tail(10)

In [ ]:
# Locality Verbose-no use we can drop it

In [ ]:
df['Locality Verbose'].value_counts().tail(20)

In [ ]:
df['Cuisines'].value_counts().head(20)

In [ ]:
df['Cuisines'].value_counts().sample(15)

In [ ]:
df['Average Cost for two'].value_counts().head(20)

In [ ]:
df['Average Cost for two'].value_counts().sample(15)

In [ ]:
df['Currency'].value_counts().head(3)

In [ ]:
df['Currency'].value_counts().sample(10)

In [ ]:
df['Has Table booking'].value_counts()

In [ ]:
df['Has Online delivery'].value_counts()

In [ ]:
df['Is delivering now'].value_counts()

In [ ]:
df['Switch to order menu'].value_counts()

In [ ]:
df['Price range'].value_counts()

In [ ]:
df['Votes'].value_counts().head(20)

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
df.head(10)
df.duplicated(subset=['Restaurant Name','City','Locality','Cuisines']).sum()

In [ ]:
df.head()

In [ ]:
df['Restaurant ID'].duplicated().sum()

In [ ]:
df[df.duplicated(subset=['Restaurant Name','Locality'],keep=False)].head(30)

In [ ]:
df.head()

In [ ]:
df.columns

Data cleaning

In [ ]:
# deleting unnescessary columns

In [ ]:
df.drop(columns=['Rating text','Rating color','Switch to order menu','Longitude','Latitude','Address','Locality Verbose'],inplace=True)

In [ ]:
df.head()

In [ ]:
df['Restaurant Name']=df['Restaurant Name'].str.replace("Giani's",'Giani')

In [ ]:
df[df['Restaurant Name'].str.contains('{Niche} - Cafe & Bar')]

In [ ]:
df['Restaurant Name'] = df['Restaurant Name'].str.replace(r"[^a-zA-Z0-9\s&\-,!']", "", regex=True).str.strip()

In [ ]:
df['Restaurant Name']=df['Restaurant Name'].str.title()

In [ ]:
df['Cuisines']=df['Cuisines'].str.replace('North Indian, Chinese','Chinese, North Indian')

In [ ]:
df['Currency'].value_counts().head()

In [ ]:
df['Currency']=df['Currency'].str.strip().str.split('(').str.get(0).str.strip()

In [ ]:
df['Currency'].value_counts().head(10)

In [ ]:
df['Currency'] = df['Currency'].replace({
    "NewZealand": "New Zealand Dollar",
    "Emirati Diram": "Emirati Dirham"
})

In [ ]:
df['Restaurant Name'].value_counts().sample(20)

In [ ]:
df.to_csv('my clean.csv')

In [ ]:
df=pd.read_csv('my clean.csv')

In [ ]:
df

In [ ]:
df.drop(columns={'Unnamed: 0'},inplace=True)

In [ ]:
df

In [ ]:
# Show entire dataframe without truncation
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

In [ ]:
df['Restaurant ID'].duplicated().sum()

In [ ]:
df.nunique()

In [ ]:
df['Restaurant Name'].value_counts().sample(25)

In [ ]:
df['City'].value_counts().tail(15)

In [ ]:
df['Locality'].value_counts().head(15)

In [ ]:
df['Locality'].value_counts().tail(15)

In [ ]:
df[df['Locality']=='Gíçvea']

In [ ]:
df[df['Locality']=='íukurambar']

In [ ]:
# some small encoding issues found in turkish localities

In [ ]:
df['Locality'].value_counts().sample(15)

In [ ]:
# in Cuisines col
# North Indian, Mughlai, Chinese and Chinese, North Indian, Mughlai	 are same
# Mughlai, North Indian and Mughlai, North Indian are same

In [ ]:
df['Cuisines'].value_counts().head(35)

In [ ]:
df['Cuisines'].value_counts().tail(20)

In [ ]:
df['Cuisines'].value_counts().sample(20)

In [ ]:
df['Cuisines'].value_counts().head(50)

In [ ]:
# here majority of issues are like dessert,ice cream and ice cream,dessert are
# being treated differently.so we will sort the column alphabetically

In [ ]:
df.head()
def transfer(x):
  if pd.isna(x):
    return x

  items=x.split(',')
  items=[i.strip().lower() for i in items]
  items=sorted(items)
  return ','.join(items)



df['Cuisines']=df['Cuisines'].apply(transfer)

In [ ]:
df['Cuisines'].value_counts().head(20)

In [ ]:
df['Cuisines']

In [ ]:
df['Average Cost for two'].value_counts().sample(10)

In [ ]:
df['Currency'].value_counts().head(25)

In [ ]:
df.head(1)

In [ ]:
df.info()

EDA

UNIVARIATE ANALYSIS

In [ ]:
df['Average Cost for two'].describe()

In [ ]:
sns.kdeplot(data=df,x='Average Cost for two')

In [ ]:
df['Average Cost for two'].plot(kind='box')

In [ ]:
df['Average Cost for two'].skew()

In [ ]:
df['Average Cost for two'].median()

In [ ]:
df[df['Average Cost for two']==0.0].shape

In [ ]:
# In average cost for two column:
# the data is highly positive skewed
# there are many outliers in the columns
# the median cost is just 400
# Minimum value is 0, which is unrealistic for restaurant pricing.

# These appear in 18  rows, indicating missing or incorrect data.

In [ ]:
df['Aggregate rating'].describe()

In [ ]:
df['Aggregate rating'].plot(kind='kde')

In [ ]:
df['Aggregate rating'].plot(kind='box')

In [ ]:
df['Aggregate rating'].skew()

In [ ]:
df[df['Aggregate rating']==0].shape

In [ ]:
df[df['Aggregate rating']==3.1].shape

In [ ]:
# Aggregate rating
# we get two peaks in freq distribution one is at 0 and another is at
# between 2.5-4
# there are 2148 restaurants whose rating is 0

In [ ]:
df['Votes'].describe()

In [ ]:
df['Votes'].plot(kind='kde')

In [ ]:
df['Votes'].skew()

In [ ]:
df['Votes'].plot(kind='box')

In [ ]:
df[df['Votes']>2000]

In [ ]:
# votes
# the data is right skewed
# many outliers having votes above 2000
# but majority having votes greater than 2000 have rating normally above 4

In [ ]:
df.info()

univariate analysis on categorical cols

In [ ]:
# Price range
df['Price range'].value_counts(normalize=True)*100

In [ ]:
df['Price range'].value_counts().plot(kind='bar')

In [ ]:
# price range
# majority of resto are of price range 1
# comparatively many few are of price range 4

In [ ]:
df['Is delivering now'].value_counts(normalize=True)*100

In [ ]:
# we can remove Is delivering now as it does not convey us anything and majority
# belongs to no only

In [ ]:
df['Has Online delivery'].value_counts(normalize=True)*100

In [ ]:
df['Has Online delivery'].value_counts().plot(kind='bar')

In [ ]:
# Has Online delivery:
# majority belong to No while some has Yes

In [ ]:
df['Has Table booking'].value_counts(normalize=True)*100

In [ ]:
# Has Table booking
# majority belong to No while some has Yes

In [ ]:
df['Currency'].value_counts(normalize=True)*100

In [ ]:
df['Currency'].value_counts().plot(kind='bar')
plt.yscale('log')
plt.ylabel('count')
plt.title('top 10 frequent currencies in dataset')

plt.show()

In [ ]:
# Currency
# 90 percent belong to Indian Rupees
# 5 percent belong to Dollar
# rem 5 percent consist of other Currency

In [ ]:
x=df['Cuisines'].head(10)

In [ ]:
temp=df['Cuisines'].str.split(',').explode().str.strip().value_counts().head(10)

In [ ]:
# top 10 cuisines in dataset according to count
temp=temp.reset_index()
sns.barplot(data=temp,x='Cuisines',y='count')
plt.xticks(rotation=90)
plt.title('top 10 frequent cuisines in dataset')

plt.show()

In [ ]:
df['City'].value_counts(normalize=True)*100

In [ ]:
# top 10 most occuring city in dataset
df['City'].value_counts().head(10).plot(kind='bar')
plt.ylabel('count')
plt.yscale('log')
plt.title('top 10 most frequent cities in dataset')

In [ ]:
# city
# majority of resto are from delhi followed by Gurgaon,Noida,Faridabad,
# Ghaziabad and resto from remaining cities are in very less number

In [ ]:
df.info()

Bivariate analysis

In [ ]:
# Aggregate rating vs Votes
sns.regplot(data=df,x='Votes',y='Aggregate rating')
plt.show()

In [ ]:
df['Votes'].corr(df['Aggregate rating'])

In [ ]:
# Aggregate rating tends to increase slightly with Votes
# it does not strongly correlate with Aggregate rating

In [ ]:
# Average Cost for two vs Aggregate rating

sns.regplot(data=df,x='Average Cost for two',y='Aggregate rating')

In [ ]:
df['Average Cost for two'].corr(df['Aggregate rating'])

In [ ]:
# the regplot usually shows linear property because of outliers
# actually aggregate rating is independant of average cost for two if
# we remove outliers

# this also tells us outliers must be removed during feature engineering in average
# cost for two column

In [ ]:
# top 10 cities with highest aggregate rating median
temp=df.copy()
temp1=temp.groupby('City')['Restaurant Name'].count().reset_index()
temp1=temp1[temp1['Restaurant Name']>19]
idx=temp1['City'].unique()
temp=temp[temp['City'].isin(idx)]
temp=temp.groupby('City')['Aggregate rating'].median().sort_values(ascending=False).head(10).reset_index()
sns.barplot(data=temp,x='City',y='Aggregate rating')
plt.xticks(rotation=90)
plt.title('top 10 cities having highest median rating')


plt.show()

In [ ]:
# Aggregate rating vs Price range
sns.barplot(data=df,x='Price range',y='Aggregate rating',estimator=np.median)

In [ ]:
# Price range 4 has highest aggregate rating median followed by 3 then 2 and then
# 1

# this indicates that as price range increases aggregate rating also increases

In [ ]:
# has online delivery vs aggregate rating
sns.barplot(data=df,x='Has Online delivery',y='Aggregate rating')

In [ ]:
# we can see that restaurant providing online delivery has slightly more
# aggregate rating than restaurant which does not provide online delivery

In [ ]:
# has table booking vs aggregate rating
sns.barplot(data=df,x='Has Table booking',y='Aggregate rating')

In [ ]:
# so restaurant providing table booking has more average aggregate rating
# than the ones which does not provide table booking

In [ ]:
df=pd.read_csv('/content/my clean.csv')

In [ ]:


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df.drop(columns={'Unnamed: 0'},inplace=True)

In [ ]:
# cuisines vs aggregate rating
temp=df.copy()

temp['Cuisines']=temp['Cuisines'].str.split(',')
temp=temp.explode('Cuisines')
temp['Cuisines']=temp['Cuisines'].str.strip()

temp1=temp.groupby('Cuisines')['Restaurant Name'].count().reset_index()
temp1=temp1[temp1['Restaurant Name']>50]

idx=temp1['Cuisines'].unique()

temp=temp[temp['Cuisines'].isin(idx)]
temp=temp.groupby('Cuisines')['Aggregate rating'].median().sort_values(ascending=False).head(10).reset_index()
sns.barplot(data=temp,x='Cuisines',y='Aggregate rating')
plt.xticks(rotation=90)
plt.title('top 10 cuisines having highest median rating')


plt.show()

In [ ]:
# this barplot tells us about top 10 cuisines having highest median aggregate rating

In [ ]:
df.head(1)

In [ ]:
temp=df[df['Aggregate rating']>0]
temp1=temp.groupby('Currency')['Restaurant Name'].count().reset_index()
temp1=temp1[temp1['Restaurant Name']>50]
idx=temp1['Currency'].unique()
temp=temp[temp['Currency'].isin(idx)]
sns.barplot(data=temp,x='Currency',y='Aggregate rating',estimator=np.median)
plt.xticks(rotation=90)
plt.title("Top Currencies with Highest Median Restaurant Rating")
plt.tight_layout()

plt.show()

In [ ]:
df

In [ ]:
# here we can see that restaurants situated in dubai and south africa usually
# have higher median agg rating.this usually happens in dataset where number
# of data points are less in a particular category and more in another
# category.this does not means that restaurants in india are bad but zomato
# dataset contains restaurants in india from all domain from street food stalls
# to luxury and expensive restaurants and hence due to overall ratings the
# median agg rating falls.

In [ ]:
import numpy as np

# Step 1: filter valid ratings
temp = df[df['Aggregate rating'] > 0]

# Step 2: count restaurants per currency using a separate variable
temp1 = temp.groupby('Currency')['Restaurant ID'].count().reset_index()

# Step 3: keep currencies with more than 50 restaurants
idx = temp1[temp1['Restaurant ID'] > 50]['Currency'].unique()

# Step 4: filter the original `temp` (which still contains Aggregate rating)
temp = temp[temp['Currency'].isin(idx)]

# Step 5: plot median rating
sns.barplot(data=temp, x='Currency', y='Aggregate rating', estimator=np.median)

plt.xticks(rotation=90)
plt.title('Top currencies used in restaurants with highest median rating')
plt.tight_layout()

plt.show()

In [ ]:
# top 10 cities with most number of cuisines
temp=df.copy()
temp['Cuisines']=temp['Cuisines'].str.split(',')
temp=temp.explode('Cuisines')
temp['Cuisines']=temp['Cuisines'].str.strip()
temp=temp.groupby('City')['Cuisines'].nunique().sort_values(ascending=False).head(10).reset_index()
sns.barplot(data=temp,x='City',y='Cuisines')

plt.xticks(rotation=90)
plt.title('top 10 cities with most number of cuisines')


plt.show()

Feature engineering

In [ ]:
df=pd.read_csv('my clean.csv')

In [ ]:
# we can remove Is delivering now column as majority 98-99 percent values are same

In [ ]:
df.drop(columns={'Is delivering now'},inplace=True)

In [ ]:
# we will encode has table booking and has online delivery

In [ ]:
def transf(x):
  if x=='Yes':
    return 1
  else: return 0

df['Has Online delivery']=df['Has Online delivery'].apply(transf)
df['Has Table booking']=df['Has Table booking'].apply(transf)

In [ ]:
# we will create a new row which will have all the average cost for two
# values in indian rupees

In [ ]:
currency_to_inr = {
    'Indian Rupees': 1,
    'Dollar': 83,
    'Pounds': 105,
    'Qatari Rial': 22.8,
    'Brazilian Real': 16,
    'Rand': 4.5,
    'Emirati Dirham': 22.6,
    'New Zealand Dollar': 51,
    'Turkish Lira': 2.6,
    'Botswana Pula': 6.1,
    'Indonesian Rupiah': 0.0052,
    'Sri Lankan Rupee': 0.25

}

df['avg cost in inr']=df['Currency'].apply(lambda x:currency_to_inr[x])*df['Average Cost for two']

In [ ]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [ ]:
df.head()

In [ ]:
df[df['Cuisines'].isnull()]

In [ ]:
# we will drop rows where average cost for two is equal to zero or cuisines value
# is null

In [ ]:
idx=df[df['Average Cost for two']==0.0].index

In [ ]:
df.drop(idx,inplace=True)

In [ ]:
df.dropna(subset=['Cuisines'],inplace=True)

In [ ]:
df['avg cost in inr'].plot(kind='kde')

In [ ]:
df['avg cost in inr'].skew()

In [ ]:
df['avg cost in inr'].plot(kind='box')

In [ ]:
df[df['avg cost in inr']>20000]

In [ ]:
# top 10 costliest cities by median avg cost in inr
temp1=df.groupby('City')['Restaurant ID'].count().reset_index()
idx=temp1[temp1['Restaurant ID']>=20]['City'].unique()
temp1=df[df['City'].isin(idx)].groupby('City')['avg cost in inr'].median().sort_values(ascending=False).head(10).reset_index()
sns.barplot(data=temp1,x='City',y='avg cost in inr')
plt.xticks(rotation=90)
plt.title('top 10 costliest cities in terms of avg cost per two people in inr')


plt.show()

In [ ]:
# votes vs has table booking
sns.barplot(data=df,x='Has Table booking',y='Votes')

In [ ]:
# votes vs has online delivery
sns.barplot(data=df,x='Has Online delivery',y='Votes')

In [ ]:
# Votes vs avg cost in inr
sns.regplot(data=df,x='Votes',y='avg cost in inr')

In [ ]:
df['Votes'].corr(df['avg cost in inr'])

In [ ]:

temp=df.groupby('Restaurant Name')['City'].nunique().reset_index()
temp=temp[temp['City']>3]
idx=temp['Restaurant Name'].unique()

temp=df[df['Restaurant Name'].isin(idx)]
temp=temp.groupby('Restaurant Name')['Aggregate rating'].median().sort_values(ascending=False).head(10).reset_index()
sns.barplot(data=temp,x='Restaurant Name',y='Aggregate rating')
plt.xticks(rotation=90)
plt.title('top 10 restaurants in world with highest median rating')

In [ ]:
df.head()

In [ ]:
sns.heatmap(df.corr(numeric_only=True),annot=True)
plt.title('heatmap of correlation between different numeric columns')